.contacts{ 
    min-height: 750px;
    &__title{
        padding-top: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #005BFF;
    }
    &__info{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
    &__descr{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        h2{
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin: 0;
            margin-bottom: 10px;
        }
        a{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            text-decoration: none;
            transition: 0.2s all;
            &:hover{
                color: #005BFF;
            }
        }
    }
    &__map{
        margin-left: 80px;
        iframe{
            width: 706px;
            height: 254px;
            border: 0;
        }
    }

    &__feedback{
        margin-top: 100px;
        &_title{
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 32px;
        }
    }
    &__inputs{
        display: flex;
        flex-direction: column;
        input{
            width: 285px;
            height: 46px;
            background: #FFFFFF;
            border: 1px solid #005BFF;
            border-radius: 3px;
            margin: 0;
            margin-left: 0;
            margin-bottom: 32px;
            font-family: Montserrat;
            font-size: 16px;
            padding-left: 10px;
            outline: none;
            font-weight: 500;
        }
    }
    &__response{
        position: absolute;
        right: 64%;
        top: 87%;
        h1{
            font-size: 16px;
            margin: 0;
            color: #005BFF;
        }
    }
    &__form{
        display: flex;
        flex-direction: row;
        textarea{
            width: 456px;
            height: 108px;
            background: #FFFFFF;
            border: 1px solid #005BFF;
            border-radius: 3px;
            resize: none;
            outline: none;
            padding-top: 12px;
            font-family: Montserrat;
            padding-left: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
        }
        button{
            width: 139px;
            height: 46px;
            background: #005BFF;
            border: 1px solid #005BFF;
            position: absolute;
            bottom: 33px;
            transform: translateX(36%);
            right: 50%;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            padding: 12px 17px;
            cursor: pointer;
            transition: 0.3s all;
            font-family: Montserrat;
            outline: none;
            &:hover{
                background: #0443B5;
            }
        }
    }
    &__text{
        margin-left: 40px;
    }
    button:disabled {
        background: #dddddd;
        border: none;
    }
}

.status{
    position: absolute;
    top: 87%;
    left: 28%;
    font-size: 16px;
    font-weight: 500;
    color: #005BFF;
}