.button{
   &__header{
        margin-left: 110px;
        width: 120px;
        height: 40px;
        background: #005BFF;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s all;
        font-family: Montserrat;
        &:hover{
            background: #0443B5;
        }
    }
    &__search{
        width: 63px;
        height: 40px;
        background: #005BFF;
        border-radius: 0px 3px 3px 0px;
        margin-left: 0;
        border-radius: 3px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 500;
        position: absolute;
        right: 2px;
        transition: 0.2s all;
        font-family: Montserrat;
        &:hover{
            background: #0443B5;
        }
    }
    &__slider{
        width: 140px;
        height: 50px;
        border: none;
        background: none;
        outline: none;
        position: relative;
        margin-top: 50px;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
        padding: 5px;
        font-family: Montserrat;
        &:hover {
            a::after{
                content: '';
                width: 140px;
            }
        }
        a{
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1{
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                margin: 0;
                padding: 0;
                margin-right: 6px;
                text-align: center;
                z-index: 9;
            }
            img{
                z-index: 9;
            }
            &:after{
                content: '';
                width: 50px;
                height: 50px;
                background: #005BFF;
                border-radius: 3px;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.3s all ease-in-out;
            }
            &:hover{
                &::after{
                    content: '';
                    width: 140px;    
                }
                
            }
        }
    }
    &__contacts{
        width: 139px;
        height: 46px;
        background: #005BFF;
        border: 1px solid #005BFF;
        position: absolute;
        bottom: 33px;
        transform: translateX(36%);
        right: 50%;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        padding: 12px 17px;
        cursor: pointer;
        transition: 0.3s all;
        font-family: Montserrat;
        outline: none;
        &:hover{
            background: #0443B5;
        }
    }
}