@media (max-width: 1200px) {
    .container{
        width: auto;
    }
}

@media (max-width: 991px) {
    .container {
        width: auto;
    }
    .header{
        height: 70px;
        nav{
            display: flex;
            justify-content: space-between;
            padding: 10px 5px;
        }
        &__catalog{
            h1{
                font-size: 14px;
            }
        }
        &__item{
            margin-left: 0;
        }
        &__menu{
            margin-left: 40px;
            margin-right: 10px;
        }
    }
    .button__header{
        margin-left: 15px;
        height: 35px;
    }
    .input{
        input{
            width: 255px;
            font-size: 12px;
            height: 35px;
        }
    }
    .button__search{
        height: 35px;
        font-size: 12px;
    }
    .catalog{
        top: 70px;
        ul{
            li{
                a{
                    font-size: 14px;
                    img{
                        width: 60px;
                    }
                }
            }
        }
    }
    .products{
        &__link{
            &:nth-child(5){
                margin-right: 50px;
            }
        }
    }

    .bestsellers, .soap, .powder, .paper, .deodorant, .shampoo{
        &__wrapper{
            justify-content: space-between;
            margin-bottom: 20px;
            padding-left: 0;
            align-items: flex-start;
        }
        &__item{
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .menu{
        &__item{
            margin-bottom: 30px;
            a{
                font-size: 20px;
            }
        }
    }

    .slider{
        &__title{
            font-size: 26px;
        }
        &__subtitle{
            font-size: 20px;
        }
    }
    .button__slider{
        margin-top: 20px;
        a{
            h1{
                font-size: 16px;
            }
            &:after{
                height: 40px;
                top: 5px;
            }
        }
    }
    .about{
        padding: 0px 5px;
        min-height: 100vh;
        &__info{
            flex-direction: column-reverse;
            margin-bottom: 20px;
        }
        &__img{
            margin-right: 0;
        }
    }
    .delivery{
        padding: 0px 5px;
        &__info{
            margin-bottom: 30px;
            &__descr{
                height: 100vh;
            }
            img{
                margin-left: 0;
                height: 645px;
            }
        }
    }
    .contacts{
        padding: 0 5px;
        .status{
            left: 36%;
        }
        &__info{
            justify-content: space-around;
        }
        &__map{
            iframe{
                width: 100%;
            }
        }
        &__form{
            textarea{
                width: 380px;
            }
        }
        
        button{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .cart{
        padding: 0 50px;
    }
    .modal{
        .status{
            left: 70px;
        }
    }
}

@media (max-width: 767px){
    .modal{
        .status{
            left: 20px;
            margin-top: 8px;
        }
        &__main{
            width: 300px;
            height: 250px;
        }
        &__form{
            margin: 0 auto;
            h1{
                font-size: 12px;
            }
        }
        &__descr{
            margin-top: 5px;
            p{
                font-size: 10px;
            }
        }
        &__send{
            width: 90px;
            height: 30px;
            font-size: 14px;
        }
    }
    .cart{
        padding: 0 5px;
        &__qty input {
            height: 15px;
            width: 15px;
            font-size: 12px;
            margin-right: 0;
        }
        &__descr{
            label{
                font-size: 12px;
            }
        }
        &__product{
            &_name{
               h1{
                    font-size: 12px;
               }
            }
            &_price{
                h1{
                    font-size: 12px;
                }
            }
        }
    }
    .header{
        nav{
            .input{
                display: none;
            }
        }
    }
    .button__header{
        display: none;
    }
    .button__search{
        display: none;
    }
    .button__slider{

    }
    .catalog{
        height: 250vh;
        ul{
            flex-direction: column;
            li{
                margin-bottom: 10px;
            }
        }
    }
    .slider{
        &__info{
            padding-left: 70px;
        }
        &__title{
            font-size: 17px;
            width: 100%;
            line-height: 30px;
        }
        &__subtitle{
            font-size: 16px;
            width: 90%;
        }
    }
    .bestsellers{
        &__wrapper{
            justify-content: center;
            align-items: center;
            padding-left: 0;
        }
    }
    .bestsellers, .soap, .powder, .paper, .deodorant, .shampoo{
        &__wrapper{
            justify-content: center;
            margin-bottom: 20px;
        }
        &__item{
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .products{
        &__link{
            margin: 0 auto;
            margin-bottom: 15px;
            &:nth-child(5), &:last-child{
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
    }
    .about{
        padding: 0px 5px;
        &__subtitle{
            font-size: 20px;
            width: 100%;
            line-height: 30px;
        }
        &__info{
            flex-direction: column-reverse;
        }
        &__img{
            margin-right: 0;
            img{
                width: 100%;
            }
        }
    }   
    .delivery{
        padding: 0 5px;
        &__info{
            flex-direction: column;
            img{
                width: 100%;
                margin: 0 auto;
                margin-top: 35%;
                margin-bottom: 10%;
            }
        }
        &__descr{
            h1, h2{
                font-size: 20px;
            }
            ul{
                li{
                    text-align: left;
                    font-size: 14px;
                    width: 55%;
                }
            }
        }
    }
    .contacts{
        .status{
            top: 93%;
            left: 20%;
        }
        padding: 0 5px;
        &__info{
            flex-direction: column;
        }
        &__map{
            margin-left: 0;
            iframe{
                width: 100%;
            }
        }
        &__form{
            flex-direction: column;
            input{
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__text {
            margin-left: 0;
            margin: 0 auto;
            margin-bottom: 100px;
            textarea{
                width: 285px;
            }
        }
        button{
            top: 96%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    .footer{
        padding: 0 5px;
        &__info{
            flex-direction: column-reverse;
            align-items: center;
        }
        &__end{
            flex-direction: column-reverse;
            h1{
                margin-top: 10px;
            }
        }
    }
}